<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/styles.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='flack.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script src="{{url_for('static', filename='bootstrap-auto-dismiss-alert.js')}}"></script>
  
<script id="chatpost" type="text/x-handlebars-template">

  <img src="static/chatlogo.png" alt="Avatar" style="width:12%;">
  {% raw -%}
  <a id="userid"> {{user}} </a>
  <p id="msgbox"> {{msg}} </p>
  <span class="time">{{time}}</span> 
  {%- endraw %}



</script>
<script id="alertpost" type="text/x-handlebars-template">
  {% raw -%}
  <div class="alert {{alert_type}} alert-dismissible fade show" data-auto-dismiss="3000" role="alert">
  <strong>{{type}}</strong> {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
    <span aria-hidden="true">&times;</span>
  </button>
  {%- endraw %}
</script>


</div>


</head>
<body>


<div id="channels" class="sidenav">
  <h2>Channels</h2>
  <div id="sidenavbtn">
  <input type="text" id="channelname" class="form-control" placeholder="Channel Name">

  <button id="addchannel" class="btn btn-primary"> + </button>
  </div>

  {% for channel in channels %}

  <button id={{channel}} class="channels btn btn-light" data-channel="{{channel}}"> {{channel}} </button>

  {% else %}

  <a id="nochannel"> <br><br><br> No Channels </a>
  {% endfor %}
  
</div>


<div id="header_all"> 

  <a id="text"></a><button id="logout" class="btn btn-dark">Logout</button>

</div>



<div class="maindiv" id="maindiv">

  <div id="chatroom_head"></div>

    <div id="chatroom">
      <h1 id="welcome"></h1>
    </div>
        
</div>



<div id="alerts" class="alertsdiv">

  
</div>

   
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

</html> 
